<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- For expand/collapse row in table   -->
    <link href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/survey.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-light bg-light">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">Evoting</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/local_blockchain">Check BlockChain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/unconfirmed">Pending Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/peers">Peers</a>
          </li>
        </ul>
      </div>
      <div class="btn-group right-corner">
        <a href="{{node_address}}/mine" target="_blank" class="btn btn-outline-warning">
          Request mining
        </a>
        <a href="/" class="btn btn-outline-dark">Resynchronization</a>
      </div>

    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container">
      <br>
      <legend>Register with a Node</legend>
      <form class="d-flex input-group input-group-sm mb-3" action="/register_with_node" method="post">
        <input class="form-control me-2"
               type="text"
               name="node_address"
               placeholder="Input node address (with port) you want to register with"
               aria-label="register-node">
        <button class="btn btn-outline-success" type="submit">Register</button>
      </form>
      <small name="help-block" class="form-text text-muted">
        Current host: {{ host }}, port: {{ port }}
      </small>
      <br>
      {% block content %}{% endblock %}
    </div>

  </body>
</html>